version: '3.3'

services:
  mysql:
    image: mysql:latest
    container_name: mysql_db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=mysql
    ports:
      - '3306:3306'
    volumes: 
      - db_mysql:/var/lib/mysql

volumes:
  db_mysql:
    driver: local
