server:
  host: localhost
  port: 8088
  db: car_postgis_db

spring:
  application:
    name: location-service
  banner:
    location: banner.txt
  config:
    import: eureka.yml,info.yml
  jpa:
    show-sql: false
    hibernate.ddl-auto: update
    defer-datasource-initialization: true
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQL95Dialect
      hibernate.enable_lazy_load_no_trans: true
      hibernate.format_sql: true
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    database-platform: org.hibernate.spatial.dialect.postgis.PostgisPG10Dialect
    database: postgresql
  data:
    jpa:
      repositories:
        enabled: true
  datasource:
    url: jdbc:postgresql://${server.host}:5433/${server.db}
    username: postgis
    password: postgis
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
      idle-timeout: 60000
      max-lifetime: 2000000
      connection-timeout: 60000
      pool-name: locationConnectionPool